{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}

<!-- breadcrumb start-->
<section class="breadcrumb breadcrumb_bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb_iner text-center">
                    <div class="breadcrumb_iner_item">
                        <h1>Blood Basics</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- breadcrumb start-->
<!-- <div class="center-image-decor"></div> -->
<section class="use_sasu section_padding_breadcrumb page-cover">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <h4 class="steps"style="padding-top: 60px; color:#CE182B; font-size:20px; font-weight:bold; " >Blood Donation</h4>
                <br />
                <p>
                    A single donation can save three lives. One blood donation
                    provides different blood components that can help up to three
                    different people. Blood banking refers to the process of
                    collecting, separating, and storing blood. Blood banks collect
                    blood and separate it into its various components so they can be
                    used most effectively according to the needs of the patient. The
                    donor usually gives one pint of whole blood. The blood is tested
                    for blood type and infectious disease (HIV, Hepatitis B, Hepatitis
                    C and Syphilis), and then the blood is separated into its
                    components red blood cells, plasma and platelets. The stock blood
                    is then crossmatched with patients blood before transfusion.
                </p>
                <p>
                    Blood donation is safe. New, disposable equipment is used for each
                    donor, so there's no risk of contracting a bloodborne infection by
                    donating blood. Within 24 hours of a blood donation, your body
                    replaces the lost fluids. And after several weeks, your body
                    replaces the lost red blood cells. Health benefits of donating
                    blood include good health and reduced risk of cancer and
                    hemochromatosis. It helps in reducing the risk of damage to liver
                    and pancreas. Donating blood may help in improving cardiovascular
                    health and reducing obesity.
                </p>
                <br />
                <h5 class="linespace">
                    You are eligible to donate blood if:</h5>
                <ul class="unordered-list"  >
                    <li>
                        <p>you are in good health</p>
                    </li>
                    <li>
                        <p>weigh at least 45Kg</p>
                    </li>
                    <li>
                        <p>you are 18 to 65 years old</p>
                    </li>

                </ul><br />
                <h5 class="linespace">You are not eligible to
                    donate blood if you:</h5>
                <ul class="unordered-list">
                    <li>
                        <p>have ever used self-injected drugs
                            (non-prescription)</p>
                    </li>

                </ul><br />
                <p>You need to prepare your body. It is important
                    to eat iron-rich foods such as red meats, fish, beans and spinach,
                    drink plenty of water the two days prior to donating, get a good
                    sleep and eat a healthy meal two hours before your donation.</p>
                <br>
                <h4 class="steps"style="color:#CE182B; font-size:20px; font-weight:bold; ">About Blood</h4>
                <br>
                <p>
                    Blood is a body fluid in humans and other animals that has many
                    different functions, including:
                </p>

                <ul class="unordered-list">
                    <li>
                        <p>
                            transporting oxygen and nutrients to the lungs and tissues
                        </p>
                    </li>
                    <li>
                        <p>forming blood clots to prevent excess blood loss</p>
                    </li>
                    <li>
                        <p>carrying cells and antibodies that fight infection</p>
                    </li>
                    <li>
                        <p>
                            bringing waste products to the kidneys and liver, which filter
                            and clean the blood
                        </p>
                    </li>
                    <li>
                        <p>regulating body temperature</p>
                    </li>
                </ul>
                <br />
                <p>
                    There are <strong> four blood groups: A, B, AB and O</strong> and
                    two types of <strong>RH factor: Positive and Negative.</strong></p>

                <img src="static/images/blood-group.png" style="text-align: left; width:700px; height:400px" alt="blood-group">

                <p>Blood has
                    <strong></strong>
                    four main components: plasma, red blood cells, white blood
                    cells, and platelets.</strong>
                    The blood that runs through the veins, arteries, and capillaries
                    is known as whole blood, a mixture of about 55 percent plasma and
                    45 percent blood cells.
                </p>
                <img src="static/images/composition.png" style="text-align: left; width:700px; height:400px" alt="blood-composition">
                <br /><br /><br />


                <!--table part Start-->
                <div class="table-responsive">
                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">Type</th>
                                <th scope="col">Expiration</th>
                                <th scope="col">Remarks</th>
                                <th scope="col">Storage Temperature(c)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    Whole blood
                                </td>
                                <td>
                                    35 days
                                </td>
                                <td rowspan="7">
                                    These storage <br />timings are<br />
                                    valid if <br />and only <br />if they <br />are stored
                                    <br />in appropriate <br />condition.
                                </td>
                                <td>1-6</td>
                            </tr>
                            <tr>
                                <th colspan="2">
                                    Blood components
                                </th>
                                <td></td>
                            </tr>
                            <tr>
                                <td>
                                    Packed red blood cells (PRBCs)
                                </td>
                                <td>
                                    42 days
                                </td>
                                <td>
                                    1-6
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Platelet-rich plasma (PRP)
                                </td>
                                <td>
                                    72 hours
                                </td>
                                <td>
                                    20-24
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Fresh frozen plasma (FFP)
                                </td>
                                <td>
                                    6 to 12 months
                                </td>
                                <td>
                                    -18C or colder
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Cryoprecipitate (Cryo-AHF)
                                </td>
                                <td>
                                    6 to 12 months
                                </td>
                                <td>
                                    -18C or colder
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Platelet concentrate (PC)
                                </td>
                                <td>
                                    5 Days
                                </td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!--table part end-->
                <br />
                <h4 class="steps"style="color:#CE182B; font-size:20px; font-weight:bold; ">Plasma</h4>
                <br />
                <p>
                    The liquid component of blood is called plasma, a mixture of
                    water, sugar, fat, protein, and salts. The main job of the plasma
                    is to transport blood cells throughout your body along with
                    nutrients, waste products, antibodies, clotting proteins, chemical
                    messengers such as hormones, and proteins that help maintain the
                    body's fluid balance.
                </p>
                <img src="static/images/plasma.png" style="text-align: left; width:700px; height:400px" alt="blood-plasma">
                <br />
                <br />
                <h4 class="steps"style="color:#CE182B; font-size:20px; font-weight:bold; ">Red Blood Cells</h4>
                <br />
                <p>
                    Known for their bright red color, red cells are the most abundant
                    cell in the blood, accounting for about 40 to 45 percent of its
                    volume. The shape of a red blood cell is a biconcave disk with a
                    flattened center - in other words, both faces of the disc have
                    shallow bowl-like indentations (a red blood cell looks like a
                    donut).
                </p>
                <img src="static/images/rbc.png" style="text-align: left; width:700px; height:400px" alt="red blood cells">
                <br />
                <br />
                <h4 class="steps"style=" color:#CE182B; font-size:20px; font-weight:bold; ">White Blood Cells</h4>
                <br />
                <p>
                    White blood cells protect the body from infection. They are much
                    fewer in number than red blood cells, accounting for about 1
                    percent of your blood.
                </p>
                <img src="static/images/wbc.png" style="text-align: left; width:700px; height:400px" alt="white blood cells">
                <br />
                <br />
                <h4 class="steps" style=" color:#CE182B; font-size:20px; font-weight:bold; ">Platelets</h4>
                <br />
                <p>
                    Unlike red and white blood cells, platelets are not actually cells
                    but rather small fragments of cells. Platelets help the blood
                    clotting process (or coagulation) by gathering at the site of an
                    injury, sticking to the lining of the injured blood vessel, and
                    forming a platform on which blood coagulation can occur. This
                    results in the formation of a fibrin clot, which covers the wound
                    and prevents blood from leaking out.
                </p>
                <img src="static/images/platelets.png" style="text-align: left; width:700px; height:400px" alt="blood platelets">
            </div>
        </div>
    </div>
</section>






                {% endblock %}
