<body class="d-flex flex-column">
  
    <!-- Footer -->
    <footer class="bg-white">
      <div class="container py-5">
        <div class="row py-4">
          <div class="col-lg-3 col-md-6 mb-4 mb-lg-0"><img src="static/images/logo.png" alt="" width="180" class="mb-3">
            <p class="font-italic text-muted">A social initiative for a smart, transparent and holistic blood management service from collection to supply.</p>
            <ul class="list-inline mt-4">
              <li class="list-inline-item"><a href="#" target="_blank" title="twitter"><s class="fa fa-twitter"></s></a></li>
              <li class="list-inline-item"><a href="#" target="_blank" title="facebook"><s class="fa fa-facebook"></s></a></li>
              <li class="list-inline-item"><a href="#" target="_blank" title="instagram"><s class="fa fa-instagram"></s></a></li>
              <li class="list-inline-item"><a href="#" target="_blank" title="pinterest"><s class="fa fa-pinterest"></s></a></li>
              <li class="list-inline-item"><a href="#" target="_blank" title="linkedin"><s class="fa fa-linkedin"></s></a></li>
            </ul>
          </div>
          <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
            <h6 class="text-uppercase font-weight-bold mb-4">Contact</h6>
            <ul class="list-unstyled mb-0">
              <li class="mb-2"><a href="#" class="text-muted"><span style="font-weight: 600;">Address : </span>bijayachowk,gaushala,kathmandu</a></li>
              <li class="mb-2"><a href="#" class="text-muted"><span style="font-weight: 600;">Phone : </span>9808054324</a></li>
              <li class="mb-2"><a href="#" class="text-muted"><span style="font-weight: 600;">Email : </span>team@hamrobloodbank.com</a></li>
              <li class="mb-2"><a href="#" class="text-muted"><span style="font-weight: 600;">Hotline : </span>180021293846547383</a></li>
            </ul>
          </div>
          <div class="col-lg-2 col-md-6 mb-4 mb-lg-0">
            <h6 class="text-uppercase font-weight-bold mb-4">Resource</h6>
            <ul class="list-unstyled mb-0" ">
              <li class="mb-2"><a href="#" style="font-weight: 600;">About us</a></li>
              <li class="mb-2"><a href="#" style="font-weight: 600;">Team</a></li>
              <li class="mb-2"><a href="#" style="font-weight: 600;">Blood Bank</a></li>
              <li class="mb-2"><a href="#" style="font-weight: 600;
                ">Events</a></li>
            </ul>
          </div>
          <div class="col-lg-4 col-md-6 mb-lg-0">
            <h6 class="text-uppercase font-weight-bold mb-4">Newsletter</h6>
            <p class="text-muted mb-4">Subscribe to our Newsletter and get<br> the latest updates about Hamro<br> Lifebank.</p>
            <div class="p-1 rounded border">
              <div class="input-group">
                <input type="email" placeholder="Enter your email address" aria-describedby="button-addon1" class="form-control border-0 shadow-0">
                <div class="input-group-append">
                  <button id="button-addon1" type="submit" class="btnn btn-link"><i class="fa fa-paper-plane"></i></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <!-- Copyrights -->
      <div class="bg-light py-4">
        <div class="container text-center">
          <p class="text-muted mb-0 py-2">© 2019  All rights reserved.</p>
        </div>
      </div>
    </footer>
    <!-- End -->
  
  </body>